/* =========global============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

*,
::after,
::before {
    box-sizing: border-box;
}


.clearfix {
    clear: both;
}

body {
    overflow: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



/* =============home-section================ */

#home {
    position: relative;
    height: 100vh;
    background-image: url(../images/event.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    color: white;

}

.homeLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(214, 46, 51, 0.6);
}

#leftMenu {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #0e0d0d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.navBar a {
    padding: 20px 8px 20px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    color: white;
}


#Home h2 {
    margin-top: 200px;
}


#Home h2,
p {

    text-align: center;
}


.navBar a:hover {
    color: rgba(214, 46, 51, 0.4);
}

.navBar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navBar ul {
    display: flex;
    list-style-type: none;
}

.navBar li {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 2.2px;
    cursor: pointer;
}



#home-tittle h2 {
    padding-top: 70px;
    font-size: 60px;
}

.openNav,
.closebtn {
    font-size: 30px;
    cursor: pointer;
}

.animate__heartBeat {
    animation-duration: 2s;
    animation-delay: 0.9s;
}


/*  ====================start-singers-section ======================== */

.singer {
    margin-block: 8em !important;
}

.toggle {
    background-color: rgba(214, 46, 52, 0.677);
    padding: 0.3em;
    cursor: pointer;
    color: white;
    margin: 0;
}

.singer div {
    background-color: #ccc;
    padding: 0.8em;
    display: none;
}

.singer .one {
    display: block;
}

/*  ==================== end-singers-section ======================== */



/* ==================== start-counter-section ========================  */
.countDownDate {
    background-image: url(../images/join.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    position: relative;
    height: 50%;
    overflow: hidden;

}

.countLayer {
    width: 100%;
    height: 100%;
    background-color: rgba(214, 46, 51, 0.6);
    color: white;
}


.time {
    border: 3px solid #FFF;
    font-weight: 500;
    font-size: 30px;
}



/* ==================== start-contact-section ========================  */

.contact {
    margin-top: 10em !important;
}

.contact ul {
    list-style-type: none;
}

.contact ul .text-red {
    color: rgba(214, 46, 52, 0.945) !important;
    margin: 2em 0;
}

.icons-contact div {
    width: 2.3em;
    height: 2.3em;
    border: 1px solid rgb(48, 47, 47);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    color: #3b3b3baf;

}

.icons-contact div:hover {
    background-color: rgba(214, 46, 52, 0.945) !important;
    color: white !important;
}



/* contact-us form  */

#contact-us textarea {
    height: 120px;
    resize: vertical;
}

#contact-us button {
    background-color: #D62E33;
    color: #fff;
    padding: 8px 15px;
    border-radius: 0%;
    transition: all 0.2s;
}

#char {
    font-size: 20px;
    color: #D62E33;
}

.form-control:focus,
button:focus {
    box-shadow: none;
    
}

button:hover {
    background-color: #300608;
}